<ion-view view-title="Messages!!!">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="message in message.messages" type="item-text-wrap">
        <img ng-src="{{message.face}}">
        <p>{{message}}</p>
        
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
      <h1> hello </h1>
    </ion-list>
  </ion-content>
</ion-view>
