<ion-view view-title="Account">
  <ion-content>
    <ion-list>
      <ion-item class="item-toggle">
        Enable Friends
        <label class="toggle">
          <input type="checkbox" ng-model="settings.enableFriends">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>

      <form ng-click="logout()">
        <label class="item">
          <button class="button button-block button-dark" type="submit">Log Out</button>
        </label>
      </form>

    </ion-list>
  </ion-content>
</ion-view>