<ion-view view-title="Public Messages">
  <ion-content>
    <div class="bar bar-header">
      <button class="button icon ion-navicon"></button>
      <button class="button" ng-click='newMessage()'>New</button>
    </div>
    <ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresh()">
        </ion-refresher>
    <div class="card" ng-repeat="message in message.messages">
      <div class="item item-text-wrap">
        <div class = "message-container">
          
          <b>Name:</b> {{message.message}}
          <b>{{message.votes}}</b>
          <i class ='ion-plus-round' ng-click="vote(message._id, message.votes, 'upVote')"></i> 
          <i class ='ion-cash'></i> 
          <i class ='ion-minus-round' ng-click="vote(message._id, message.votes, 'downVote')"></i> 
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
