<!-- <ion-view view-title="MAP"> -->
  <!-- <ion-content ng-controller="mapController"> -->

    <div class='containerMap'>
      <input id="pac-input" class="controls" type="text" placeholder="Search Box">
      <div id="map-canvas" data-tap-disabled="true"></div>

      <div class="centerMarker"><img src='img/logo_pin.png' alt='You are here!'></div>
      <div id="over_map">
        <button class="button button-block button-calm" id='subButton' ng-click="alert()"><b>Submit Message</b></button>
      </div>
    </div>
  <!-- </ion-content> -->
<!-- </ion-view> -->