<div id="map_canvas" ng-controller="mapController">
    <script type="text/ng-template" id="searchbox.tpl.html">
        <input type="text" placeholder="Search Box">
    </script>
      <ui-gmap-google-map id="map-canvas" center="map.center" zoom="map.zoom" draggable="true" options="options">
          <ui-gmap-search-box template="searchbox.template" events="searchbox.events" position="searchbox.position"></ui-gmap-search-box>
      </ui-gmap-google-map>
    <h1>{{map.center}})</h1>
    <div class='centerMarker'><img src='img/logo_pin.png' alt="you are here"></div>
</div>
<!-- <ion-pane>
  <ion-content ng-controller="mapController">
    <input id="pac-input" class="controls" type="text" placeholder="Search Box">
    <div class='containerMap'>
        <div id="map-canvas"></div>
    </div>
  </ion-content>
</ion-pane> -->