<ion-view view-title="Message Detail">
  <ion-header-bar align-title="center" class="bar-calm">
  <div>
    <div class='title message-detail-title'>
      Message Details
    </div>
  </div>
  </ion-header-bar>
  <ion-content has-header="true" padding="true">
    <div class = 'parent'>
      <h1>{{message.message}}</h1>
      <div class = 'message-detail-image'>
      <img ng-src="{{message.image}}"/>
      </div>
    </div>
    <div class="card" ng-repeat="reply in message.replies track by $index">
      <div class="item item-text-wrap">
        {{reply}}
      </div>
    </div>
    <div class="item item-input-inset">
      <label class='message-detail-reply-input-label'>
        <input type="text" ng-model="message.text" placeholder="Reply back here" maxlength="144" autofocus />
      </label>
      <button ng-click="addReply(message.text, message._id)" class="button button-small button-calm reply-button-right">
      Reply!
      </button>
    </div>

  </ion-content>
</ion-view>