<ion-view view-title="Message Detail" cache-view="false" animation="none">
  <ion-content has-header="true" padding="true">
    <div class = 'parent'>
      <h1>{{message.message}}</h1>
      <img ng-src="{{message.image}}"/>
    </div>  
    <div class="card" ng-repeat="reply in message.replies track by $index">
      <div class="item item-text-wrap">
        <b>{{reply._creator}}:</b> {{reply.message}}
        <!-- <i class ='ion-plus-round'></i>  -->
        <!-- <i class ='ion-minus-round'></i>  -->
      </div>
    </div>
    <ion-footer-bar align-title="left" class="bar-assertive">
      <label class="item item-input">
        <form ng-submit="addReply(message.text, message._id, message)">
          <input type="text" ng-model="message.text" placeholder="Reply back here" maxlength="144" autofocus /> 
        </form>
      </label>
      <div class="buttons">
        <button class="button" ng-click="addReply(message.text, message._id,message)">Reply!</button>
      </div>
    </ion-footer-bar>
  </ion-content>
</ion-view>