<ion-view view-title="Private Messages - MUST BE UPDATED...currently pulling in everything!">
  <ion-content>
   <ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresh()">
    </ion-refresher>
    <div class="bar bar-header">
      <button class="button icon ion-navicon"></button>
      <button class="button" ng-click='newMessage()'>Compose</button>
    </div>
    <ion-item class="card" ng-repeat="message in privateMessages.messages" href="#/tab/privateMessages/{{message._id}}">
      <!-- <div class="item item-text-wrap"> -->

      <b>{{ message._creator }}: </b> {{message.message}}
      <!-- <i class ='ion-heart'></i> -->
      <!-- </div> -->
    </ion-item>
  </ion-content>
</ion-view>
