
<ion-view view-title="Public Messages">
  <ion-content>
    <div class="bar bar-header">
      <button class="button" ng-click="sortFeed('top')">Top</button>
      <button class="button" ng-click="sortFeed('new')">New</button>
      <i class ='ion-compose' ng-click='newMessage()'></i>
    </div>
    <ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresh()">
        </ion-refresher>

    <div class="card" ng-repeat="message in message.messages">
      <div class="item item-text-wrap">
      <b>Name:</b> 
      <a href="#{message.id}">{{message.message}}</a>
      <!-- <i class ='ion-heart'></i> -->
          <b>{{message.votes}}</b>
          <i class ='ion-plus-round' ng-click="vote(message._id, message.votes, 'upVote')"></i> 
          <i class ='ion-cash'></i> 
          <i class ='ion-minus-round' ng-click="vote(message._id, message.votes, 'downVote')"></i> 
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>


