<ion-view view-title="Private Messages">
<ion-header-bar align-title="center" class="bar-calm">
    <span class="header-container">
      <div class="sort-buttons">
        <button class ='top-button' ng-click="">Inbox</button>
        <button class ='new-button' ng-click="">Sent</button>
      </div>
      <div class="drop-button">
        <i class ='ion-compose' ng-click='newMessage()'></i>
      </div>
   </span> 
  </ion-header-bar>
  <ion-content>
   <ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresh()">
    </ion-refresher>
    
    <ion-item class="card" ng-repeat="message in privateMessages.messages" href="#/tab/privateMessages/{{message._id}}">
      <!-- <div class="item item-text-wrap"> -->

      <b>{{ message._creator }}: </b> {{message.message}}
      <!-- <i class ='ion-heart'></i> -->
      <!-- </div> -->
    </ion-item>
  </ion-content>
</ion-view>
