/* Login Page Styling */
.container {
	margin-top: auto;
	margin-bottom: auto;
}
.logo {
 	display: table;
  margin: 0 auto 5%;
}

.logo img {
	margin-top: 15%;
}


.title{
  display: table;
  margin: 0 auto;
  font-size: 4em;
  margin-bottom: 2%;
  font-weight: 300px;
  font-style: helvetica;

}
.slogan{
  display: table;
  margin: 0 auto;
  font-size: 2em;
}
/* Phone number Page Styling */
.bar {
  position: relative;
}

/*.button-positive{
     right:70px !important;
}*/

.button.button-positive.fb-button {
  margin-top: 15%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px;
  width: 300px;
}

/*Add map image to login background*/
.scroll-content.loginPage {
  position: absolute;
  background-image: url('../img/map.png');
  background-repeat: no-repeat;
}

/*Create the overlay on the front page*/
.overLay {
  z-index: 1;
  padding: 2em 0 3em 0;
  background:rgba(0,0,10,0.55);
}

.overLay .logo {
  margin-top: 15%;
}

.overLay h1 {
  color: white;
  font-weight: bold;
  font-size: 3.5em;
  text-align: center;
  margin-top: 6%
}

/* Main Public Message Feed Page Styling */

.header-container {
  width:100%;
}
.sort-buttons {
  text-align: left;
  display:inline;
}

.sort-buttons button {
  border:1.5px solid transparent;
  border-color: white;
  background-color: Transparent;
  color: white;
}

.drop-button {
  /*Alignment*/
  text-align: right;
  width: 15%;
  float:right;
}
.drop-button button {
  /*Button Styling*/
  border:1.5px solid transparent;
  border-color: white;
  background-color: Transparent;
  color: white;
}

.card {
  position: relative;
/*  z-index: -100;*/
}

.ion-plus-round {
  z-index: 10;
  padding: 3% 6% 3% 3%;
  position: relative;
}

.ion-minus-round {
  z-index: 10;
  padding: 3% 3% 3% 6%;
  position: relative;
}

.message-text {
  /*Horizontal Centering*/
  width:75%;
  text-align: left;
  float:left;
  /*Vertical Centering- NOT WORKING!*/
  margin-top: auto;
  margin-bottom: auto;
  vertical-align: middle;

  /*Message Text Styling*/
  font-size: 1em;
  font-family: helvetica;
  font-weight: 500;
  height:100%;
}

.votes-container {
  width:20%;
  text-align: right;
  float:right;

}

/* Message Detail Page Styling */

.message-detail-header-container.header-title {
  text-align: center;
  margin:0 auto 0 auto;
}

.parent {
  margin:50px; 
  text-align:center;
}

.hidden { 
  display: none !important;
}

.fileContainer [type=file] {   
  opacity: 0 !important;
  position: absolute !important;
  left: 0 !important;
  right: 0 !important;
  top: 0 !important;
  bottom: 0 !important;
  width: 100% !important;
}

.hidden { 
  display: none !important;
}

.fileContainer [type=file] {   
  opacity: 0 !important;
  position: absolute !important;
  left: 0 !important;
  right: 0 !important;
  top: 0 !important;
  bottom: 0 !important;
  width: 100% !important;

}

/* Empty. Add your own CSS if you like */

/*center pin*/
.centerMarker{
  position:absolute;
  /*url of the marker*/
  /*background:url(../img/logo_pin.png) no-repeat;*/
  /*center the marker*/
  top:50%;left:50%;
  z-index:1;
  /*fix offset when needed*/
  margin-left:-10px;
  margin-top:-34px;
  /*size of the image*/
  height:34px;
  width:20px;
  cursor:pointer;
}


/*currently copy and paste from createmap.html*/
#map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
.containerMap {
  position: relative;
/*  width: 100%;
  height: 100%;*/
}

#over_map {
  position: absolute;
  bottom: 0;
  right:0;
  width:100%;
  margin-bottom: -10px;
  z-index: 99;
}

.controls {
  margin-top: 40px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  height: 32px;
  outline: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  height: 40px;
  width: 350px;
}



.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}


/*RED CANCEL BUTTON*/ 
/*http://codepen.io/shidhincr/pen/ICLBD*/
/*.redfamily {
  color: red; 
}
.search-box,.close-icon,.search-wrapper {
  position: relative;
  padding: 10px;
}
.search-wrapper {
  width: 500px;
  margin: auto;
  margin-top: 50px;
}
.search-box {
  width: 80%;
  border: 1px solid #ccc;
  outline: 0;
  border-radius: 15px;
}
.search-box:focus {
  box-shadow: 0 0 15px 5px #b0e0ee;
  border: 2px solid #bebede;
}
.close-icon {
  border:1px solid transparent;
  background-color: transparent;
  display: inline-block;
  vertical-align: middle;
  outline: 0;
  cursor: pointer;
}
.close-icon:after {
  content: "X";
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  background-color: #FA9595;
  z-index:1;
  right: 35px;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 2px;
  border-radius: 50%;
  text-align: center;
  color: white;
  font-weight: normal;
  font-size: 12px;
  box-shadow: 0 0 2px #E50F0F;
  cursor: pointer;
}
.search-box:not(:valid) ~ .close-icon {
  display: none;
}*/
