/* Login Page Styling */
.container {
	margin-top: auto;
	margin-bottom: auto;
}
.logo {
 	display: table;
  margin: 0 auto 5%;
}

.logo img {
	margin-top: 15%;
}


.title{
  display: table;
  margin: 0 auto;
  font-size: 4em;
  margin-bottom: 2%;
  font-weight: 300px;
  font-style: helvetica;

}
.slogan{
  display: table;
  margin: 0 auto;
  font-size: 2em;
}
/* Phone number Page Styling */
.bar {
  position: relative;
}

/*.button-positive{
     right:70px !important;
}*/

.button.button-positive.fb-button {
  margin-top: 15%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px;
  width: 300px;
}

/*Add map image to login background*/
.scroll-content.loginPage {
  position: absolute;
  background-image: url('../img/map.png');
  background-repeat: no-repeat;
}

/*Create the overlay on the front page*/
.overLay {
  z-index: 1;
  padding: 2em 0 3em 0;
  background:rgba(0,0,10,0.55);
}

.overLay .logo {
  margin-top: 15%;
}

.overLay h1 {
  color: white;
  font-weight: bold;
  font-size: 3.5em;
  text-align: center;
  margin-top: 6%
}

/* Message Detail Page Styling */
.message-detail-header {
  display:block;
  text-align: center;
}

.parent {
  margin:50px; 
  text-align:center;
}
